html, body, #root, .viewContainer, .container{
  background-color:#eaeaea;
}
#main{
  text-align:center;
}
#pizza_number{
  background-color: #4c4c4c;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  padding: 4px 32px;
  margin-top: 15px;
  border-radius: 8px;
  display:inline-block;
  margin-bottom: 20px;
}
#counter_pizza_number{
  color: #ec0e0e;
}
.bloc-game{
  margin:auto;
  position:relative;
  background-color:#eaeaea;
  max-width:320px;
}
#box_pizza{
  position:absolute;
  width:200px;
  height:200px;
  top: 120px;
  left: 2%;
}
#plate-pizza
{
  position: absolute;
  bottom: -21px;
  left: -3px;
}
.part-pizza{
  position: absolute;
  z-index: 1;
}
#part-pizza1{
  left: 32%;
  top: 4%;
}
#part-pizza2{
  left: 51%;
  top: 11%;
}
#part-pizza3{
  left: 56%;
  top: 30%;
}
#part-pizza4{
  left: 45%;
  top: 45%;
}
#part-pizza5{
  left: 26%;
  top: 51%;
}
#part-pizza6{
  left: 8%;
  top: 49%;
}
#part-pizza7{
  left: 1%;
  top: 28%;
}
#part-pizza8{
  left: 8%;
  top: 7%;
}
#bloc-man{
  position: absolute;
  width: 212px;
  height: 218px;
  right: 0px;
}
.head{
  position: absolute;
  right:0;
  z-index:1;
}
.arm-left{
  position: absolute;
  right: 118px;
  top: 31px;
  z-index:1;
}
.arm-right{
  position: absolute;
  right: 32px;
  top: 111px;
  z-index:1;
}
#arm2{
  top: 50px;
}
#arm2, #arm4{
  opacity:0;
}
#arm4{
  right: 12px;
}
#countdown{
  font-size: 34px;
  color: #3c3c3c;
}
#countdown_text{
  margin: auto;
  display: inline-block;
}
#countdown_value{
  display: inline-block;
}
#countdown_seconde{
  display: inline-block;
  width: 38px;
  text-align: right;
}
#countdown_milliseconde{
  display: inline-block;
  width: 38px;
}